In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [10]:
arquivo = "C:/Users/carlo/OneDrive/Documentos/salarios.csv.csv"

In [11]:
df = pd.read_csv(arquivo)

In [12]:
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"CABALLERO, SAMUEL A",FOREMAN OF MOTOR TRUCK DRIVERS,DEPT STREETS AND SANITATION,F,HOURLY,40.0,NaN,41.41
1,"CHAPMAN, BRYAN A",FIREFIGHTER-EMT (RECRUIT),FIRE DEPARTMENT,F,SALARY,NaN,80448.0,NaN
2,"MUNOZ, LISSETTE C",POLICE OFFICER,DEPARTMENT OF POLICE,F,SALARY,NaN,97974.0,NaN
3,"ALDERDEN, JACOB M",CAPTAIN,DEPARTMENT OF POLICE,F,SALARY,NaN,159552.0,NaN
4,"JOHNSON, ANTHONY L",MOTOR TRUCK DRIVER,DEPT OF WATER MANAGEMENT,F,HOURLY,40.0,NaN,39.25

In [13]:
df['Job Titles'].value_counts()

POLICE OFFICER                              8411
FIREFIGHTER-EMT                             1367
SERGEANT                                    1250
POLICE OFFICER (ASSIGNED AS DETECTIVE)      1155
MOTOR TRUCK DRIVER                           906
                                            ...
SUPVSR OF COST CONTROL                         1
MICROBIOLOGIST IV                              1
CRIMINALIST III                                1
MECHANICAL ENGINEER II                         1
POLICE OFFICER(ASGND AS LATENT PRINT EX)       1
Name: Job Titles, Length: 1094, dtype: int64